* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif; }

.wrapper_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/back.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: 0px 0px 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1900px; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
  position: relative;
  padding: 0 40px 40px 40px;
  color: #fff;
  width: 100%; }

#up_arrow {
  display: none; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  position: relative;
  margin-top: 48px; }
  header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    header .logo #logo_name {
      margin-left: 25px; }
  header nav {
    width: 47%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none; }
      header nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 19px;
        padding-bottom: 10px;
        border-bottom: 0px solid white;
        position: relative; }
        header nav ul li a:not(.get_started_btn)::after {
          content: '';
          width: 0%;
          height: 1px;
          background-color: #fff;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          top: 40px;
          left: -26px;
          margin-left: 20px;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        header nav ul li a:hover::after {
          width: 115%; }
      header nav ul li .get_started_btn {
        border: 1px solid white;
        padding: 10px 20px;
        -webkit-border-radius: 100px;
                border-radius: 100px;
        text-transform: uppercase;
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        font-size: 14px;
        font-weight: 700;
        /*     box-shadow: 0 0 82px 5px rgba(123, 79, 219, 0.5)  */ }
        header nav ul li .get_started_btn:hover {
          background-color: #6e45e2;
          color: #fff; }

.burger {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer; }
  .burger .fa-bars {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute; }
  .burger .fa-bars_on {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times_off {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: block; }

.main_text_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .main_text_top h1 {
    font-size: 70px;
    margin: 0.5rem;
    font-weight: 500; }
  .main_text_top span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.7px; }
    .main_text_top span::before {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
    .main_text_top span::after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
  .main_text_top p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    width: 340px; }

.down_arrow {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 14px 14px;
          background-size: 14px;
  -webkit-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
          box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  color: #000;
  -webkit-animation: bounce 1.8s infinite;
          animation: bounce 1.8s infinite; }
  .down_arrow:hover {
    background-color: #6e45e2;
    background-image: url(../img/arrow_white.png); }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes menu_open {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes menu_open {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes menu_close {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes menu_close {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

.wrapper_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main_text_middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 120px; }
  .main_text_middle h1 {
    font-size: 55px;
    margin: 0.5rem;
    font-weight: 500;
    color: #4f4f6f; }
  .main_text_middle span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #9fa4af; }
    .main_text_middle span::before {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #6e45e2;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
    .main_text_middle span::after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #6e45e2;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px; }
  .main_text_middle p {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    width: 340px;
    color: #9fa4af; }

.price_blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 100px auto 0 auto;
  width: 1420px;
  padding-bottom: 120px; }
  .price_blocks .price_block {
    -webkit-flex-basis: 440px;
        -ms-flex-preferred-size: 440px;
            flex-basis: 440px;
    height: 648px;
    text-align: center;
    border: 1px solid #d7dbe8;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .price_blocks .price_block:hover {
      -webkit-box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
              box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
    .price_blocks .price_block img {
      width: 120px;
      height: 108px;
      margin-top: 59px; }
    .price_blocks .price_block .price_name {
      color: #9fa4af;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      margin-top: 50px; }
    .price_blocks .price_block .price_text {
      color: #4f4f6f;
      font-weight: 500;
      line-height: 62px;
      font-size: 18px;
      letter-spacing: 0.5px;
      margin-top: -14px; }
    .price_blocks .price_block .per_month {
      color: #4f4f6f;
      font-size: 60px;
      letter-spacing: 0.5px; }
      .price_blocks .price_block .per_month sup {
        font-size: 18px; }
    .price_blocks .price_block .description {
      margin-top: 48px;
      width: 296px;
      height: 127px;
      margin: 0 auto;
      line-height: 28px; }
    .price_blocks .price_block button {
      background: #fff;
      border: 1px solid  #9fa4af;
      color: #9fa4af;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
      padding: 17px 0px 21px 0px;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      margin-top: 55px;
      width: 190px;
      height: 50px;
      letter-spacing: 0.6px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .price_blocks .price_block button:hover {
        background-color: #6e45e2;
        color: #ffffff; }

.wrapper_down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/BG.png");
  -webkit-background-size: 100% 522px;
          background-size: 100% 522px;
  background-position: 0px 0px 50% 60%;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  height: 522px;
  width: 100%; }
  .wrapper_down .main_text_bottom {
    margin: 0 auto;
    text-align: center; }
    .wrapper_down .main_text_bottom span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 0.7px; }
    .wrapper_down .main_text_bottom h1 {
      font-size: 55px;
      margin: 15px 0 30px 0;
      font-weight: 500;
      color: #ffffff; }
    .wrapper_down .main_text_bottom button {
      background: #fff;
      border: 1px solid  #9fa4af;
      color: #9fa4af;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 800;
      padding: 17px 0px 21px 0px;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      margin-top: 15px;
      margin-left: 15px;
      width: 190px;
      height: 50px;
      letter-spacing: 0.6px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .wrapper_down .main_text_bottom button:hover {
        background-color: #6e45e2;
        color: #ffffff;
        font-weight: 800;
        border: 1px solid   #6e45e2; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  position: relative;
  margin-top: 48px;
  color: #37374a;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  max-width: 1900px; }
  .footer .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .footer .logo #logo_name_footer {
      margin-left: 25px;
      color: #37374a; }
  .footer nav {
    width: 46%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none; }
      .footer nav ul li a {
        text-decoration: none;
        color: #37374a;
        font-size: 20px;
        font-weight: 500;
        line-height: 19px;
        position: relative; }
        .footer nav ul li a:not(.get_started_btn)::after {
          content: '';
          width: 0%;
          height: 1px;
          background-color: #6e45e2;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          top: 40px;
          left: -26px;
          margin-left: 20px;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .footer nav ul li a:hover::after {
          width: 115%; }
      .footer nav ul li .get_started_btn {
        border: 1px solid #37374a;
        padding: 10px 20px;
        -webkit-border-radius: 100px;
                border-radius: 100px;
        text-transform: uppercase;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        font-size: 14px;
        font-weight: 700;
        background-color: #6e45e2;
        color: white; }
        .footer nav ul li .get_started_btn:hover {
          background-color: #9168f2;
          color: #fff; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 26px 10px;
  opacity: 0.5;
  color: #6a6a77;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  max-width: 1758px;
  margin: 0 auto; }
  footer .right_info {
    width: 106px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .right_info i {
      cursor: pointer; }

/* Media queries */
@media (max-width: 1644px) {
  .wrapper_head {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  .container {
    max-width: 1600px; }
  .footer {
    max-width: 1600px; }
    .footer nav {
      width: 55%; }
  footer {
    max-width: 1470px; }
  header nav {
    width: 55%; }
  .main {
    height: 610px; } }

@media (max-width: 1440px) {
  .wrapper_head {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  .container {
    max-width: 1400px; }
  footer {
    max-width: 1360px; }
  .footer {
    max-width: 1400px; }
    .footer nav {
      width: 72%; }
  header nav {
    width: 72%; }
  .main {
    height: 540px; }
  .price_blocks {
    width: 1200px;
    margin: 47px auto 0 auto; }
    .price_blocks .price_block {
      -webkit-flex-basis: 360px;
          -ms-flex-preferred-size: 360px;
              flex-basis: 360px; }
  .main_text_middle {
    margin-top: 60px; } }

@media (max-width: 1280px) {
  .wrapper_head {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  .container {
    max-width: 1200px; }
  footer {
    max-width: 1110px; }
  .footer {
    max-width: 1200px; }
    .footer nav {
      width: 72%; }
  header nav {
    width: 72%; }
  .main {
    height: 540px; }
  .price_blocks {
    width: 100%;
    font-style: column;
    padding-bottom: 50px; }
    .price_blocks .price_block {
      -webkit-flex-basis: 86%;
          -ms-flex-preferred-size: 86%;
              flex-basis: 86%;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      position: relative;
      margin: 0 auto;
      height: 240px;
      margin-bottom: 30px; }
      .price_blocks .price_block img {
        margin-left: 70px;
        margin-top: 58px;
        width: 110px;
        height: 110px;
        position: absolute;
        left: 40px;
        -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
                transform: translateY(50%);
        margin: 0; }
      .price_blocks .price_block .price_name {
        position: absolute;
        left: 256px;
        top: 5px;
        color: #000;
        -webkit-transform: translateY(25%);
            -ms-transform: translateY(25%);
                transform: translateY(25%);
        left: 180px; }
      .price_blocks .price_block .description {
        width: 520px;
        left: 35px;
        top: 90px;
        text-align: left;
        position: absolute;
        left: 180px; }
      .price_blocks .price_block .price_text {
        right: 80px;
        top: 60px;
        position: absolute; }
      .price_blocks .price_block button {
        right: 60px;
        top: 75px;
        position: absolute; }
  .main_text_middle {
    margin-top: 50px; } }

@media (max-width: 1180px) {
  .wrapper_head {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  header nav {
    width: 100%;
    top: 67px;
    position: absolute;
    padding: 0;
    background: -webkit-gradient(linear, right top, left top, from(#82aad8), to(#6046d3));
    background: -webkit-linear-gradient(right, #82aad8, #6046d3);
    background: -o-linear-gradient(right, #82aad8, #6046d3);
    background: linear-gradient(270deg, #82aad8, #6046d3);
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
            border-radius: 10px;
    overflow: hidden; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0;
      margin: 0; }
      header nav ul li {
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        header nav ul li a {
          min-width: 100%;
          padding-top: 12px;
          padding-bottom: 15px;
          -webkit-transition: background 5s;
          -o-transition: background 5s;
          transition: background 5s; }
          header nav ul li a:hover::after {
            width: 0; }
          header nav ul li a:hover {
            color: black;
            background: -webkit-gradient(linear, right top, left top, from(#82aad8), color-stop(rgba(163, 151, 229, 0.6)), to(#6046d3));
            background: -webkit-linear-gradient(right, #82aad8, rgba(163, 151, 229, 0.6), #6046d3);
            background: -o-linear-gradient(right, #82aad8, rgba(163, 151, 229, 0.6), #6046d3);
            background: linear-gradient(270deg, #82aad8, rgba(163, 151, 229, 0.6), #6046d3); }
        header nav ul li .get_started_btn {
          border: none;
          font-size: 18px;
          background-color: #4e38a5;
          -webkit-border-bottom-left-radius: 10px;
                  border-bottom-left-radius: 10px;
          -webkit-border-bottom-right-radius: 10px;
                  border-bottom-right-radius: 10px;
          -webkit-border-top-left-radius: 0px;
                  border-top-left-radius: 0px;
          -webkit-border-top-right-radius: 0px;
                  border-top-right-radius: 0px; }
  .footer nav {
    display: none; }
  .burger {
    display: block; }
  .price_blocks {
    width: 100%; }
  .header_nav_close {
    -webkit-animation: menu_close 0.5s;
            animation: menu_close 0.5s;
    opacity: 0;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s; }
  .header_nav_open {
    -webkit-animation: menu_open 0.5s;
            animation: menu_open 0.5s;
    opacity: 1; } }

@media (max-width: 1080px) {
  .main {
    height: 482px; }
  .price_blocks {
    width: 100%;
    display: block; }
    .price_blocks .price_block {
      width: 88%;
      margin: 30x auto; }
      .price_blocks .price_block img {
        width: 80px;
        height: 80px;
        top: 29px; }
      .price_blocks .price_block .description {
        width: 45%;
        top: 31%; }
      .price_blocks .price_block .price_text {
        width: 25%;
        right: 5%; }
      .price_blocks .price_block .price_name {
        margin-top: 4%; }
  footer {
    max-width: 1000px; }
  #up_arrow {
    display: block;
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite; }
    #up_arrow img {
      width: 50px;
      height: 50px; } }

@media (max-width: 768px) {
  .main {
    height: 400px; }
  .down_arrow {
    display: none; }
  .price_blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
    .price_blocks .price_block {
      -webkit-flex-basis: 85%;
          -ms-flex-preferred-size: 85%;
              flex-basis: 85%;
      height: 343px; }
      .price_blocks .price_block img {
        width: 120px;
        height: 108px; }
      .price_blocks .price_block .price_name {
        margin-top: 50px; }
      .price_blocks .price_block .price_text {
        top: 242px;
        right: 307px; }
      .price_blocks .price_block .description {
        margin-top: 48px;
        width: 433px;
        height: 127px;
        margin: 0 auto; }
      .price_blocks .price_block button {
        right: 55px;
        top: 55%; }
  footer {
    max-width: 728px; } }

@media (max-width: 576px) {
  .main {
    height: 368px; }
  .main_text_top span {
    font-size: 14px; }
  .main_text_top h1 {
    font-size: 56px; }
  .header_nav_open ul li a {
    padding-top: 10px;
    padding-bottom: 13px; }
  .price_blocks .price_block {
    height: 296px; }
    .price_blocks .price_block img {
      width: 100px;
      height: 91px;
      top: -7px;
      left: 28px; }
    .price_blocks .price_block .price_name {
      left: 35px;
      top: 83px; }
    .price_blocks .price_block .description {
      left: 149px;
      top: 33px;
      width: 322px; }
    .price_blocks .price_block button {
      right: 27px;
      top: 50%; }
    .price_blocks .price_block .price_text {
      top: 205px;
      width: 176px;
      right: 260px; }
  footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .right_info {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin-bottom: 13px; }
    footer .left_info {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }

@media (max-width: 425px) {
  #logo_name {
    display: none; }
  .main {
    height: 330px; }
  .main_text_top span {
    display: none; }
  .main_text_top h1 {
    font-size: 45px; }
  .main_text_middle h1 {
    font-size: 45px; }
  .price_blocks .price_block {
    height: 360px; }
    .price_blocks .price_block img {
      display: none; }
    .price_blocks .price_block .description {
      left: 33px;
      top: 51px;
      width: 290px; }
    .price_blocks .price_block .price_name {
      left: 125px;
      top: -47px;
      font-size: 20px;
      text-align: center; }
    .price_blocks .price_block .price_text {
      right: 72px; }
    .price_blocks .price_block button {
      right: 65px;
      top: 63%; }
  .wrapper_down .main_text_bottom h1 {
    font-size: 46px; }
  .left_info {
    font-size: 12px;
    margin-top: 6px; } }

@media (max-width: 321px) {
  .main_text_middle p {
    width: 307px; }
  .main_text_middle h1 {
    font-size: 40px; }
  .main_text_top p {
    width: 307px;
    font-size: 14px; }
  .main_text_top h1 {
    font-size: 42px; }
  .wrapper_down .main_text_bottom h1 {
    font-size: 38px; }
  .price_blocks {
    width: 100%; }
    .price_blocks .price_block {
      width: 98%;
      height: 420px; }
      .price_blocks .price_block .description {
        width: 217px; }
      .price_blocks .price_block .price_name {
        left: 89px; }
      .price_blocks .price_block .price_text {
        right: 37px;
        top: 264px; }
      .price_blocks .price_block button {
        right: 34px;
        top: 69%; }
  .footer .logo #logo_name_footer {
    margin-left: 18px; } }
