* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("../img/Background_home_header.png");
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: 0px 0px 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
  height: 100vh; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  margin-top: 45px;
  padding: 0 18px 40px 40px;
  width: 98%; }
  .main .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin: 5px 0 7px 18px; }
    .main .logo .logo_name {
      margin-left: 25px; }
  .main nav {
    width: 46.5%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2px;
    margin-top: -2px; }
    .main nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      list-style: none; }
      .main nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        line-height: 19px;
        padding-bottom: 10px;
        border-bottom: 0px solid white;
        position: relative; }
        .main nav ul li a:not(.get_started_btn)::after {
          content: '';
          width: 0%;
          height: 1px;
          background-color: #fff;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          top: 40px;
          left: -26px;
          margin-left: 20px;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
        .main nav ul li a:hover::after {
          width: 115%; }
      .main nav ul li .get_started_btn {
        border: 1px solid white;
        padding: 10px 20px 10px 20px;
        -webkit-border-radius: 100px;
                border-radius: 100px;
        text-transform: uppercase;
        -webkit-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        font-size: 14px;
        font-weight: 700; }
        .main nav ul li .get_started_btn:hover {
          background-color: #6e45e2;
          color: #fff; }

.burger {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer; }
  .burger .fa-bars {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute; }
  .burger .fa-bars_on {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times_off {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: block; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    height: auto; }
    footer .container .main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      position: relative;
      margin-top: 45px;
      padding: 0 18px 40px 40px;
      width: 98%; }
      footer .container .main .logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        margin: 5px 0 7px 18px; }
        footer .container .main .logo .logo_name {
          margin-left: 25px; }
      footer .container .main nav {
        width: 46.5%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 2px;
        margin-top: -2px; }
        footer .container .main nav ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          list-style: none; }
          footer .container .main nav ul li a {
            text-decoration: none;
            color: #37374a;
            font-size: 20px;
            font-weight: 500;
            line-height: 19px;
            position: relative; }
            footer .container .main nav ul li a:not(.get_started_btn)::after {
              content: '';
              width: 0%;
              height: 1px;
              background-color: #6e45e2;
              display: inline-block;
              vertical-align: middle;
              position: absolute;
              top: 40px;
              left: -26px;
              margin-left: 20px;
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s; }
            footer .container .main nav ul li a:hover::after {
              width: 115%; }
          footer .container .main nav ul li .get_started_btn {
            border: 1px solid #6e45e2;
            padding: 10px 20px 10px 20px;
            -webkit-border-radius: 100px;
                    border-radius: 100px;
            text-transform: uppercase;
            -webkit-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
            font-size: 14px;
            font-weight: 700;
            background-color: #6e45e2;
            color: white; }
            footer .container .main nav ul li .get_started_btn:hover {
              background-color: #2e08aa;
              color: white; }
    footer .container .info_panel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      opacity: 0.8;
      color: #6a6a77;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      max-width: 1722px;
      margin: 0 auto;
      padding-bottom: 20px; }
      footer .container .info_panel .right_info {
        width: 106px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        footer .container .info_panel .right_info i {
          cursor: pointer; }

#up_arrow_home {
  display: none;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite; }
  #up_arrow_home img {
    width: 50px;
    height: 50px; }

.container {
  border: 1px solid orange; }

/* Media queries */
@media (max-width: 1644px) {
  .container {
    max-width: 1600px; } }

@media (max-width: 1440px) {
  .container {
    max-width: 1400px; } }

@media (max-width: 1280px) {
  .container {
    max-width: 1200px; } }

@media (max-width: 1180px) {
  .container {
    max-width: 1100px; } }

@media (max-width: 1080px) {
  .container {
    max-width: 950px; } }

@media (max-width: 768px) {
  .container {
    max-width: 700px; } }

@media (max-width: 576px) {
  .container {
    max-width: 100%; } }

@media (max-width: 425px) {
  .container {
    max-width: 100%; } }

@media (max-width: 321px) {
  .container {
    max-width: 100%; } }
