*
    box-sizing: border-box
body
    margin: 0
    padding: 0
    font-family: "Maven Pro", sans-serif 
.wrapper
    overflow: hidden
header
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    min-height: 100vh
    background-image: url('../img/Background_home_header.png')
    background-size: 100% 100%
    background-position: 0px 0px 50% 50%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
.container 
    width: 100%
    margin: 0 auto
    max-width: 1900px
.main
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    position: relative
    margin-top: 45px
    padding: 0 18px 40px 40px
    width: 98%
    .logo
        display: flex
        align-items: center
        position: relative
        margin: 5px 0 7px 18px;
        .logo_name
            margin-left: 25px
    nav
        width: 46.5%   
        justify-content: space-between
        align-items: center
        margin-right: 2px
        margin-top: -2px
        z-index: 999
        ul
            display: flex
            justify-content: space-between
            list-style: none
            li
                a
                    text-decoration: none
                    color: #ffffff
                    font-size: 20px
                    font-weight: 500
                    line-height: 19px
                    padding-bottom: 10px
                    border-bottom: 0px solid white
                    position: relative
                    &:not(.get_started_btn)::after
                        content: ''
                        width: 0%
                        height: 1px
                        background-color: #fff
                        display: inline-block
                        vertical-align: middle
                        position: absolute
                        top: 40px
                        left: -26px
                        margin-left: 20px
                        transition: all 0.3s
                    &:hover::after
                        width: 115%
                .get_started_btn
                    border: 1px solid white
                    padding: 10px 20px 10px 20px
                    border-radius: 100px
                    text-transform: uppercase
                    transition: all 0.2s 
                    font-size: 14px
                    font-weight: 700
                    outline: none
                    &:hover
                        background-color: #6e45e2
                        color: #fff
                        border: 1px solid #6e45e2
                        box-shadow: 0px 0px 18.69px 5px rgba(204, 204, 223, 0.5)


.burger
    display: none
    width: 50px
    height: 50px
    position: absolute
    right: 40px
    top: 40px
    cursor: pointer
    .fa-bars
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
    .fa-bars_on
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times_off
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: block
footer
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    .container 
        width: 100%
        margin: 0 auto
        max-width: 1900px
        margin: 0 auto
        height: 200px
        .main
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            position: relative
            margin-top: 45px
            padding: 0 18px 40px 40px
            width: 98%
            .logo
                display: flex
                align-items: center
                position: relative
                margin: 5px 0 7px 18px;
                .logo_name
                    margin-left: 25px
            nav
                width: 46.5%   
                justify-content: space-between
                align-items: center
                margin-right: 2px
                margin-top: -2px
                ul
                    display: flex
                    justify-content: space-between
                    list-style: none
                    li
                        a
                            text-decoration: none
                            color: #37374a
                            font-size: 20px
                            font-weight: 500
                            line-height: 19px
                            position: relative
                            &:not(.get_started_btn)::after
                                content: ''
                                width: 0%
                                height: 1px
                                background-color: #6e45e2
                                display: inline-block
                                vertical-align: middle
                                position: absolute
                                top: 40px
                                left: -26px
                                margin-left: 20px
                                transition: all 0.3s
                            &:hover::after
                                width: 115%
                        .get_started_btn
                            border: 1px solid #6e45e2
                            padding: 10px 20px 10px 20px
                            border-radius: 100px
                            text-transform: uppercase
                            font-size: 14px
                            font-weight: 700
                            background-color: #6e45e2
                            color: white
                            outline: none
                            &:hover
                                background-color: #2e08aa
                                color: white
                                
        .info_panel
            display: flex
            justify-content: space-between
            opacity: 0.8
            color: #6a6a77
            width: 100%
            font-size: 16px
            font-weight: 500
            line-height: 19px
            margin: 0 auto 
            padding-bottom:  20px 
            .left_info
                margin-left: 3%
            .right_info
                width: 120px
                display: flex
                justify-content: space-around
                margin-right: 3%
                i
                    cursor: pointer
                    &:hover
                        color: black
                        transform: scale(1.1)
#up_arrow
    display: none
    animation: pulse 1s infinite 
    img
        width: 50px
        height: 50px  
.top_text   
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        margin-top: 210px
        margin-left: 251px
        width: 390px
        .first_text
            color: #ffffff 
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: white
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: white
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 15px 0 15px 0
            color: #ffffff;
            font-size: 58px;
            font-weight: 500;
            line-height: 72px;
            letter-spacing: -1.69px; 
            text-align: left;
            
        .second_text
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            text-transform: none 
            letter-spacing: 0.8px
            color: white
        .btn_group
            display: flex
            margin-top: 25px
            button
                background: #fff
                border: 1px solid  #9fa4af
                color: #9fa4af
                text-transform: uppercase
                font-size: 12px
                font-weight: 800
                padding: 17px 0px 21px 0px
                border-radius: 100px
                margin-top: 15px
                width: 180px
                height: 50px
                letter-spacing: 0.6px
                cursor: pointer
                transition: all 0.5s
                outline: none
                margin-left: -15px
                z-index: 50
                & ~ button
                    margin-left: 15px
                &:hover
                    background-color: #6e45e2
                    color: #ffffff
                    font-weight: 800
                    border: 1px solid   #6e45e2
                    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
                    outline: none

.down_arrow,
.down_arrow_second,
.down_arrow_third,
.down_arrow_four,
.down_arrow_five,
.down_arrow_six
    height: 50px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    border-radius: 50%
    background-color: #fff
    background-image: url(../img/arrow.png) 
    background-repeat: no-repeat
    background-position: center
    background-size: 14px 
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
    color: #000
    animation: bounce 1.8s infinite 
    position: absolute  
    bottom: 30px
    left: 49%
    transition: background-color 0.2s ease-out
    outline: none
    &:hover
        background-color: #6e45e2
        background-image: url(../img/arrow_white.png) 

.second_part 
    max-width: 1920px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 100vh
    background-image: url('../img/mockup.png')
    background-size: contain
    background-position: 0px 0px 50% 50%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
    color: #4f4f6f
    position: relative
    margin: 0 auto
    .second_part_content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        position: absolute
        width: 400px
        right: 340px
        .first_text
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            align-self: flex-start;
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 8px 0 15px 0
            font-size: 58px;
            font-weight: 500;
            line-height: 67px;
            letter-spacing: -1.69px; 
            text-align: left;
            
        .second_text
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            text-transform: none 
            letter-spacing: 0.8px
            height: 80px
            overflow: hidden;
        .btn_group
            display: flex
            margin-top: 25px
            align-self: flex-start;
            button
                background: #fff
                border: 1px solid  white
                color: #9fa4af
                text-transform: uppercase
                font-size: 12px
                font-weight: 800
                border-radius: 100px
                width: 190px
                height: 50px
                letter-spacing: 0.6px
                cursor: pointer
                transition: all 0.5s
                box-shadow: 0px 0px 20px 6px rgba(204, 204, 223, 0.5)
                outline: none
                &:hover
                    background-color: #6e45e2
                    color: #ffffff
                    font-weight: 800
                    border: 1px solid   #6e45e2
                    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
.third_part
    display: flex
    justify-content: center
    width: 100%
    background-color: #f9fafc;
    background-image: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
    height: 1415px;
    margin: 0 auto
    .container
        .third_part_content
            display: flex
            justify-content: center
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            width: 470px
            margin: 120px auto 0 auto
            color: white
            .first_text
                font-size: 14px 
                font-weight: 700 
                line-height: 32px 
                text-transform: uppercase 
                letter-spacing: 0.7px
                align-self: center;
                &::before
                    content: ''
                    width: 20px
                    height: 1px
                    background-color: white
                    display: inline-block
                    vertical-align: middle
                    margin-right: 20px
                &::after
                    content: ''
                    width: 20px
                    height: 1px
                    background-color: white
                    display: inline-block
                    vertical-align: middle
                    margin-left: 20px
            h1
                margin: 5px 0 20px 0
                font-size: 58px;
                font-weight: 500;
                line-height: 67px;
                letter-spacing: -1.69px; 
                text-align: left;
            .third_text
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
    .third_icons
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        max-width: 1100px
        margin: 126px auto 0 auto
       
        .icon_item
            flex-basis: 310px
            height: 90px
            text-align: center;
            margin: 0 10px 35px 10px
            position: relative
            color: white
            .icon_logo_circle
                width: 60px
                height: 60px
                background-color: white
                border-radius: 50%  
                background-image: url('../img/design-24px-outline_todo.png')
                background-repeat: no-repeat
                background-position: center 
            .icon_text_head
                position: absolute
                top: 0
                left: 80px
                font-size: 20px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.67px;
            .icon_text
                width: 230px;
                position: absolute;
                right: 0;
                text-align: left;
                bottom: 16px;
                opacity: 0.9;
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
    .third_slider
        width: 1361px
        height: 500px
        margin: 80px auto 0 auto
        align-self: center
        position: relative
        .inside_block_one
            width: 1094px
            height: 100%
            margin: 0 auto
            padding-top: 15px
            position: relative
            border-radius: 5px;
            background-color: #6a68bd
            opacity: 0.8;
            .inside_block_two
                width: 1125px
                margin: 0 auto
                height: 50%
                background: green
                position: relative;
                left: -15px;
                border-radius: 5px;
                background-color: #6E3FDD      
        .graff_slider
            width: 1171px
            height: 100%
            background: white
            position: relative
            top: -470px;
            margin: 0 auto
            border-radius: 10px;
            .sl__slide
                width: 100%
                height: 500px
                border-radius: 10px;
            .slick-prev 
                left: -83px;
                transform: scale(2);
            .slick-next 
                right: -83px;
                transform: scale(2);
                
            .sl__slide_one
                background-image: url(../img/7-layers.png)
                background-size: 100% 100%
            .sl__slide_two
                background-image: url(../img/7-layers2.png)
                background-size: 100% 100%
            .sl__slide_three
                background-size: 100% 100%
                background-image: url(../img/7-layers3.png)
    .down_arrow_third
        bottom: -58px;
        z-index: 222



.four_part
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    width: 100%
    min-height: 100vh
    position: relative
    z-index: 111
    margin: 0 auto
    .four_part_content
        display: flex
        justify-content: center
        flex-direction: column
        flex-wrap: wrap
        align-items: center
        width: 470px
        color: #4f4f6f
        left: 373px
        top: 209px
        margin-top: 100px
        .first_text
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            align-self: flex-start;
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 5px 0 20px 0
            font-size: 58px;
            font-weight: 500;
            line-height: 67px;
            letter-spacing: -1.69px; 
            text-align: left;
        .four_part_slider
            width: 100%
            height: 400px
            cursor: pointer
            .slick-dots
                 text-align: left
                 bottom: 0
                 top: 243px;
                 margin-left: 5px
                 li.slick-active
                    button
                        outline: none
                        &:before
                           color: #6e3fdd
                 li
                    margin: 0
                    button
                        outline: none
                        &:before
                          font-size: 11px
            .slidee
                height: 100%
                width: 100%
                padding: 10px 46px 10px 10px;
                outline: none

                .blockquote
                    color: #4f4f6f;
                    font-family: "Playfair Display";
                    font-size: 24px;
                    font-style: italic;
                    line-height: 34px;
                    letter-spacing: -0.9px;
                    span
                        opacity: 0.2;
                        color: #6e45e2;
                        font-family: "Maven Pro";
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 36px;
                        letter-spacing: -1.35px;
                        margin: 0 10px
                img
                    top: 20px;
                    position: relative;
                .user_name
                    top: -42px; 
                    position: relative;
                    left: 94px;
                    color: #9fa4af;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0.7px;
                    text-transform: uppercase;
                .user_text
                    top: -23px;
                    position: relative;
                    left: -14px;
                    color: #9fa4af;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.7px;

    video
        max-width: 617px
        width: 617px
        max-height: 430px
        margin-left: 20px
        cursor: pointer
.five_part
    display: flex
    justify-content: center
    width: 100%
    min-height: 100vh
    background-image: url('../img/PC_back.png')   
    background-repeat: no-repeat
    background-position: center 
    background-size: 100% 100%
    position: relative
    margin: 0 auto
    .five_part_content
        width: 421px
        display: flex
        justify-content: center
        flex-direction: column
        flex-wrap: wrap
        align-items: center
        color: #4f4f6f
        margin: -212px 0 0 712px
        .first_text
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            align-self: flex-start;
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 5px 0 20px 0
            font-size: 58px;
            font-weight: 500;
            line-height: 67px;
            letter-spacing: -1.69px; 
            align-self: flex-start;
.down_arrow_five 
    bottom: 88px;
    margin-left: 180px;
.six_part
    display: flex
    justify-content: flex-start
    flex-direction: column
    align-items: center
    width: 100%
    min-height: 100vh
    position: relative
    .six_part_content
        width: 380px
        display: flex
        justify-content: center
        flex-direction: column
        flex-wrap: wrap
        align-items: center
        color: #4f4f6f
        position: relative;
        margin-top: 10vh
        .first_text
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            align-self: center;
            color: #9fa4af;
            
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: #4f4f6f
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 5px 0 20px 0
            font-size: 58px;
            font-weight: 500;
            line-height: 67px;
            letter-spacing: -1.69px; 
            align-self: flex-start;
        p
            text-align: center;
            color: #9fa4af;
            font-family: "Maven Pro";
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            margin-top: -5px
                
            
    .team
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around
        max-width: 1270px
        margin-top: 5vh
        .member
            flex-basis: 231px
            align-content:  center
            position: relative
            .warpper_img
                max-width: 280px
                min-height: 210px 
                overflow: hidden
            img
                max-width: 280px
                min-height: 210px
                transition: transform 2s
                &:hover
                    transform: scale(1.15)
            .teammate_name    
                text-align: center
                color: #9fa4af;
                font-family: "Maven Pro";
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
                font-family: "Maven Pro";
                font-weight: 700;
                letter-spacing: 0.8px;
                margin-top: 10px
            .teammate_position    
                text-align: center
                color: #9fa4af;
                font-family: "Maven Pro";
                font-size: 13px;
                font-weight: 400;
                line-height: 30px;
                font-family: "Maven Pro";
                letter-spacing: 0.8px;
                margin-bottom: 25px
                margin-top: -5px
.down_arrow_six 
    z-index: 222
.seven_part
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    min-height: 100vh
    box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
    background-color: #f9fafc;
    padding-bottom: 50px
    .seven_top
        width: 100%
        height: 380px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        .seven_part_content
            width: 405px
            .first_text
                font-size: 14px 
                font-weight: 700 
                line-height: 32px 
                text-transform: uppercase 
                letter-spacing: 0.7px
                align-self: center;
                color: #9fa4af;
                &::before
                    content: ''
                    width: 20px
                    height: 1px
                    background-color: #4f4f6f
                    display: inline-block
                    vertical-align: middle
                    margin-right: 20px
                &::after
                    content: ''
                    width: 20px
                    height: 1px
                    background-color: #4f4f6f
                    display: inline-block
                    vertical-align: middle
                    margin-left: 20px
            h1
                margin: 5px 0 0 0
                font-size: 58px;
                font-weight: 500;
                line-height: 67px;
                letter-spacing: -1.69px; 
                align-self: flex-start;
            p
                text-align: left;
                color: #9fa4af;
                font-family: "Maven Pro";
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
        button
            background: #fff
            border: 1px solid  #F9FAFC
            color: #9fa4af
            text-transform: uppercase
            font-size: 12px
            font-weight: 800
            padding: 17px 0px 21px 0px
            border-radius: 100px
            margin-top: -120px
            width: 190px
            height: 50px
            letter-spacing: 0.6px
            cursor: pointer
            transition: all 0.5s
            box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
            outline: none
            &:hover
                background-color: #6e45e2
                color: #ffffff
                font-weight: 800
                border: 1px solid   #6e45e2
                

    .seven_slide
        width: 100%
        height: 410px
        .seven_slide_item
            width: 570px
            height: 330px
            box-shadow: 0px 0px 30px 5px rgba(204, 204, 223, 0.4)
            padding: 10px
            position: relative
            border-radius: 10px
            margin: 10px 20px 10px 20px  
            outline: none
            cursor: pointer
            .title_slide
                color: #4f4f6f;
                font-family: "Maven Pro";
                font-size: 24px;
                font-weight: 500;
                line-height: 12px;
                letter-spacing: -0.67px;
                margin-left: 20px
            .date_slide
                color: #9fa4af
                font-family: "Maven Pro";
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                margin-left: 20px
            .line_slider
                width: 60px
                height: 1px
                background-color: #6e45e2;
                content: ""
                margin: 25px 0 0 20px
            .text_slider
                color: #9fa4af;
                font-family: "Maven Pro";
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin-left: 20px
                padding-right: 10px
            .comments_slider
                color: #9fa4af;
                font-family: "Maven Pro";
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                margin: 50px 0 0 20px
                padding-right: 10px
                cursor: pointer
            .fa-user-circle
                right: 30px
                bottom: 35px
                font-size: 40px
                position: absolute
                color: green
            .orange
                color: orange
            .blue
                color: blue
            .pink
                color: pink
        .slick-dots
            bottom: -50px
            li.slick-active
                button
                    &:before
                        color: #2E08AA
            li
                width: 9px;
                button
                    &:before
                        font-size: 9px

.eight_part
    display: flex
    justify-content: center
    flex-direction: row
    align-items: flex-start
    width: 100%
    min-height: 900px
    background-image: url('../img/eight_bckg.png')
    background-size: 100% 100%
    background-position: 0px 0px 50% 50%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
    .eight_top_text   
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        margin-top: 160px
        .first_text
            color: #ffffff 
            font-size: 14px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
            &::before
                content: ''
                width: 20px
                height: 1px
                background-color: white
                display: inline-block
                vertical-align: middle
                margin-right: 20px
            &::after
                content: ''
                width: 20px
                height: 1px
                background-color: white
                display: inline-block
                vertical-align: middle
                margin-left: 20px
        h1
            margin: 15px 0 15px 0
            color: #ffffff;
            font-size: 58px;
            font-weight: 500;
            line-height: 72px;
            letter-spacing: -1.69px; 
            text-align: left;        
        .btn_group
            display: flex
            button
                background: #fff
                border: 1px solid  #9fa4af
                color: #9fa4af
                text-transform: uppercase
                font-size: 12px
                font-weight: 800
                padding: 17px 0px 21px 0px
                border-radius: 100px
                margin-top: 15px
                width: 190px
                height: 50px
                letter-spacing: 0.6px
                cursor: pointer
                transition: all 0.5s
                outline: none
                & ~ button
                    margin-left: 10px
                &:hover
                    background-color: #6e45e2
                    color: #ffffff
                    font-weight: 800
                    border: 1px solid   #6e45e2
                    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)






/* Media queries */
@media (max-width: 1685px)
    .container 
        max-width: 1600px
   
    header
        .top_text
            margin-left: 150px
            margin-top: 100px
    .main
        nav
            width: 55% 
    .second_part
        .second_part_content
            right: 130px
    .third_part
        .third_slider
            margin: 80px auto 0 auto
    .six_part
        .six_part_content
            top: 10px;
            h1
               font-size: 48px; 
               align-self: center;
               margin: 0px 0 20px 0
               line-height: 50px;
            p
                margin-top: -10px
    .down_arrow_six
        bottom: 15px
    .eight_part
        background-image: url('../img/eight_bckg.png')
        background-size: 100% 100%
@media (max-width: 1440px)
    .container 
        max-width: 1400px
    header
        .top_text
            margin-left: 80px
            margin-top: 60px
            .first_text
                font-size: 11px
            h1
              font-size: 48px;  
              line-height: 62px;
              margin: 10px 0 10px 40px
            .second_text
                width: 80%
                margin-left: 5px
            .btn_group
                button
                    width: 160px
                    height: 42px
                    padding: 13px 0px 19px 0px
                    font-size: 10px
                    & ~ button
                        margin-left: 20px
    .move_down
        height: 35px
        width: 35px
    .down_arrow
        bottom: 10px
    .down_arrow_second
        bottom: 10px
    .down_arrow_four
        bottom: 10px
    .down_arrow_five
        bottom: 35px
    .down_arrow_six
        bottom: 30px
    .main
        nav
            width: 60% 
    .second_part 
        .second_part_content
            right: 4%
            .first_text
                font-size: 11px
            h1
              font-size: 48px;  
              line-height: 62px;
            .btn_group
                button
                    width: 160px
                    height: 42px
                    padding: 13px 0px 19px 0px
                    font-size: 10px
    .third_part
        height: 1415px;
        .container
            .third_part_content
                margin: 40px auto 0 auto
                .first_text
                    font-size: 11px
                h1
                    font-size: 48px  
                    line-height: 44px; 
            .third_icons
               margin: 70px auto 0 auto 
        .down_arrow_third
            bottom: -60px
        .third_slider 
            width: 1270px
            .graff_slider
                width: 1100px
                .slick-prev 
                    left: -70px;
                .slick-next 
                    right: -70px;
            .inside_block_one
                width: 1040px
                .inside_block_two
                    width: 1070px
    .four_part
        .four_part_content
            .first_text
                    font-size: 11px
            h1
                font-size: 48px 
                line-height: 62px;
                width: 90%
                margin: 5px 0 20px -25px
            .first_text
                margin-left: 10px
        .down_arrow_four
            bottom: 35px
    .five_part
        .five_part_content
            .first_text
                    font-size: 11px
            h1
                font-size: 48px 
    .six_part
        .six_part_content
            width: 380px
            display: flex
            justify-content: center
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            color: #4f4f6f
            position: relative;
            margin-top: 3vh
        .team
            width: 80%
            margin-bottom: 5vh
            .member
                flex-basis: 220px
                .warpper_img
                    max-width: 220px
                    min-height: 160px 
                img
                    max-width: 220px
                    min-height: 160px
    .seven_part
        height: 100vh
        .seven_top
            .seven_part_content
                .first_text
                        font-size: 11px
                h1
                    font-size: 48px 
                    line-height: 40px;
            button
                width: 170px
                height: 45px
                padding: 15px 0px 21px 0px
                font-size: 11px 
    .eight_part
        min-height: 600px
        .eight_top_text 
             margin-top: 10vh
             h1
                font-size: 48px;  
                line-height: 62px;
             .btn_group
                 button
                    width: 160px
                    height: 42px
                    padding: 13px 0px 19px 0px
                    font-size: 10px
                    & ~ button
                        margin-left: 30px
    footer
        .container
            .main
                nav
                    width: 60%
            .info_panel
                .left_info
                    margin-left: 4%
                .right_info
                    margin-right: 4%
@media (max-width: 1285px)
    .container 
        max-width: 1200px
    header
        .top_text
            margin-left: 40px
            margin-top: 100px
            .first_text
                font-size: 12px 
            h1
                font-size: 56px;  
            .btn_group   
                button
                    padding: 16px 0px 21px 0px      
    .main
        nav
            width: 70% 
    .second_part 
        .second_part_content
            right: 80px
            .btn_group
                button
                  padding: 16px 0px 21px 0px  

    .third_part
        .third_slider 
            width: 1050px
            height: 450px
            .graff_slider
                width: 1000px
                top: -420px;
                .sl__slide
                    height: 450px
                .slick-prev 
                    left: -50px;
                .slick-next 
                    right: -50px;
            .inside_block_one
                width: 950px
                .inside_block_two
                    width: 975px
    .six_part
        .team
            width: 85%
            .member
               flex-basis: 200px 
               .warpper_img
                max-width: 250px
                min-height: 180px 
                img
                    max-width: 250px
                    min-height: 180px
    .eight_part
        .eight_top_text
            .btn_group
                button
                    padding: 16px 0px 21px 0px
@media (max-width: 1180px)
    .container 
        max-width: 1100px
    header
        .top_text
            margin-left: 40px
            margin-top: 100px
            .first_text
                font-size: 11px 
            h1
                font-size: 52px;  
                margin: 0 0 0 20px
            .second_text
                font-size: 13px;
                width: 90%
            .btn_group
                button
                    transform: scale(0.9)
                    margin-top: 0
                    & ~ button
                        margin-left: -5px
    .main
        nav
            width: 70% 
    .second_part 
        background-size: 80% 90%
    .third_part
        .third_slider 
            width: 1000px
            height: 450px
            .graff_slider
                width: 950px
                top: -420px;
                border-radius: 20px;
                .sl__slide
                    height: 450px
                .slick-prev 
                    left: -40px;
                .slick-next 
                    right: -40px;
                    
            .inside_block_one
                width: 900px
                .inside_block_two
                    width: 930px
    .four_part
        .four_part_content
            width: 400px
            .four_part_slider
                .slidee
                    width: 410px !important
                    .blockquote
                        font-size: 20px;
                        span
                          font-size: 20px;  
            .slick-dots
                margin-top: 20px
    footer
         .container
              .main
                   nav 
                     width: 71%;
@media (max-width: 1080px) 
    .footer
        nav
            display: none
    .burger
        display: block
    .container 
        max-width: 1080px 
   
    header
        background-size: 110% 100%
        .container
            .top_text
                margin-top: 5vh
            .first_text
                font-size: 12px 
            h1
                font-size: 38px;  
                margin: 0px 0 10px 75px
                width: 80%
                line-height: 50px
            .second_text
                width: 70%
                margin: 0 auto
                line-height: 22px;
            .main
                .logo
                    transform: scale(0.8)
                    margin-left: 0px 
                  
                nav
                    width: 94% 
                    top: 67px 
                    position: absolute 
                    padding: 0
                    background: linear-gradient(270deg, rgb(130, 170, 216), rgb(96, 70, 211)) 
                    box-shadow: 0 0 40px rgba(0,0,0,0.5) 
                    border-radius: 10px
                    overflow: hidden
                    ul
                        display: flex 
                        flex-direction: column
                        align-items: center
                        justify-content: space-between
                        padding: 0
                        margin: 0
                        li
                            width: 100%
                            text-align: center
                            display: flex
                            align-items: center
                            justify-content: center
                            a
                                min-width: 100%
                                padding-top: 12px
                                padding-bottom: 15px
                                transition: background 5s
                                &:hover::after
                                    width: 0
                                &:hover
                                    color: black
                                    background: linear-gradient(270deg, rgb(130, 170, 216),rgba(163, 151, 229, 0.6), rgb(96, 70, 211)) 
                            .get_started_btn
                                border: none
                                font-size: 18px
                                background-color: #4e38a5
                                border-bottom-left-radius: 10px  
                                border-bottom-right-radius: 10px 
                                border-top-left-radius: 0px 
                                border-top-right-radius: 0px 
                .header_nav_close
                    animation: menu_close 0.5s
                    opacity: 0
                    transition-property: opacity 
                    transition-delay: 0.5s
                    z-index: 0
                    .menu
                        li
                            a
                                opacity: 0.1
                                color: #4e38a5

                .header_nav_open
                    animation: menu_open 0.5s
                    opacity: 1
                    .menu
                        li
                            a
                                opacity: 1
                                color: white
    .second_part
        .second_part_content
            right: 40px
            .first_text
                 font-size: 12px 
            h1
                font-size: 38px;  
                width: 89%
                margin-left: -45px
                line-height: 50px
            .second_text
                width: 89%
                margin-left: -45px
                line-height: 22px;  
    .third_part
        height: 1150px;
        .container
            margin-top: -10px
            .third_part_content
                .first_text
                    margin-top: -5px
                    font-size: 12px
                h1
                    margin-top: -5px
                    font-size: 38px;  
                    line-height: 50px
                .third_text
                    font-size: 13px;
                    margin-top: -20px
            .third_icons
                margin: 40px auto 0 auto
                max-width: 850px
                .icon_item
                    flex-basis: 260px
                    margin: 0 -10px 15px -10px
                    .icon_logo_circle
                        width: 45px
                        height: 45px
                    .icon_text_head
                        left: 60px
                    .icon_text
                        width: 200px; 
                        font-size: 13px;
            .third_slider
                width: 90%
                margin: 30px auto 0 auto
                .inside_block_one
                    width: 88%
                    .inside_block_two
                         width: 104%
                .graff_slider
                    width: 94%
                .sl__slide
                    background-size: 100% 100%
    .four_part
        .four_part_content
            width: 340px
            margin-top: -30px
            .first_text
                 font-size: 12px 
            h1
                font-size: 38px;  
                width: 89%
                line-height: 50px
            .four_part_slider
                height: 300px
                margin-top: -15px
                .slick-dots
                        margin-top: 40px
                .slidee
                    width: 338px !important
                    img
                        top: 10px;
                    
        video
            max-width: 50%
            max-height: 430px
            margin-left: 20px
    .five_part
        .five_part_content
            width: 321px
            margin: -40px 0 0 512px
            .first_text
                 font-size: 12px 
            h1
                font-size: 38px;  
                width: 89%
                line-height: 50px
            p
                margin-top: -5px
    .six_part
        height: auto
        .six_part_content
            .first_text
                 font-size: 12px 
            h1
                font-size: 38px;  
                line-height: 50px
            p
                font-size: 13px;
        .team
            max-width: 900px
           
    .seven_part
        height: 100vh
        .seven_top
            .seven_part_content
                margin-top: -20px

                .first_text
                    font-size: 12px 
                h1
                    font-size: 38px;  
                    line-height: 50px
        .seven_slide
            margin-top: -60px
            .seven_slide_item
                width: 570px
                height: 275px
                .comments_slider
                    margin: 5px 0 0 20px
                .fa-user-circle
                    bottom: 15px
    .eight_part
        .eight_top_text 
            margin-top: 80px
            .first_text
                font-size: 12px 
            h1
                font-size: 38px;  
                line-height: 50px
    .move_down
        height: 40px
        width: 40px
    footer
        .container
            .main
                nav
                    display: none
    #up_arrow
        display: block
    @keyframes menu_open
        0%
            width: 0%
        100%
            width: 94% 
            z-index: 100
    @keyframes menu_close
        0%
            width: 94%
        100%
            width: 0% 
            z-index: 0
@media (max-width: 800px)
    .container 
        max-width: 100% 
    .third_part
        height: 1900px
    header
        .container
            .top_text
                margin-top: 0px
                margin-left: 5%
                width: 280px
                .first_text
                    font-size: 9px 
                    line-height: 26px
                h1
                    font-size: 38px; 
                    margin: 0px 0 10px 25px
                    width: 100%
                .second_text
                    width: 90%
                .btn_group
                    button
                        width: 140px
                        height: 35px
                        font-size: 10px
                        padding-top: 11px
                        z-index: 0
                        & ~ button
                        margin-left: 0px
                        margin-right: 5px
    .second_part
        .second_part_content
            width: 280px
            .first_text
                font-size: 9px 
                line-height: 26px
                margin-top: -70px
            h1
                font-size: 30px; 
                width: 100%
                margin-left: -10px
                line-height: 40px;
            .second_text
                font-size: 10px;  
                line-height: 20px;  
            .btn_group
                button
                    width: 140px
                    height: 30px
                    font-size: 10px
                    padding-top: 12px
    .third_part
        height: 800px;
        .container
            .third_part_content
                width: 400px
                h1
                  font-size: 30px; 
                  line-height: 40px; 
                .first_text
                    font-size: 9px
        .third_icons
            margin: 31px auto 0 auto !important;
            width: 80%
            .icon_item
                .icon_text
                    line-height: 15px;
                    bottom: 40px
        .third_slider
           display: none
    .four_part
       display: none
    .five_part
        .five_part_content
            margin: -20px 0 0 400px
            .first_text
                font-size: 9px
            h1
                margin: 0px 0 20px 0
                font-size: 30px; 
                line-height: 40px;
            p
                font-size: 12px
                width: 90%
    .down_arrow_five
        margin-left: 10%;
    .six_part
        .six_part_content
            .first_text
                font-size: 9px
            h1
                font-size: 30px; 
                line-height: 40px;
            p
                font-size: 12px
        .team
            max-width: 88%  
    .seven_part
        height: 600px
        .seven_top
            .seven_part_content
                margin-top: -45px
                .first_text
                    font-size: 9px
                    line-height: 20px;
                h1
                    font-size: 30px; 
                    line-height: 25px;
                p
                    font-size: 12px
            button
                width: 140px
                height: 30px
                font-size: 10px
                padding-top: 12px
    .eight_part
        min-height: 450px  
        .eight_top_text
            .first_text
                font-size: 9px
                line-height: 20px;
            h1
                font-size: 30px; 
                line-height: 25px;
            p
                font-size: 12px
            .btn_group
                button
                    width: 140px
                    height: 30px
                    font-size: 10px
                    padding-top: 12px

@media (max-width: 576px) 
    header
        background-image: url('../img/background.png')
        padding-bottom: 70px
        min-height: auto
        .container 
            max-width: 100%
            .top_text 
                width: 100%
                margin: 30px 0 0 0 
                h1
                    margin: 0
                    text-align: center
                    font-size: 2em
                .second_text
                    text-align: center 
                    width: 60%
        .main
            padding: 0
            margin-top: 36px
        .top_text
            .btn_group
                button
                    & ~ button
    .second_part
        min-height: 300px   
        .second_part_content
            width: 40%
            margin-right: -4%
            height: 100%
            .first_text
                align-self: center;
                margin-top: 8%
                line-height: 10px
            h1         
                text-align: center
                font-size: 28px
                line-height: 30px
            .second_text
                text-align: center
                font-size: 8px;
                width: 100%
                margin-left: 1%
                line-height: 15px
            .btn_group
                button
                    bottom: 30px
                    left: -180px
                    position: relative  
    
    .move_down
        display: none
    .third_part
        height: 1420px
        .third_part_content
            .third_text
                width: 80%
                text-align: center

    .five_part
        min-height: 200px
        justify-content: flex-end
        .five_part_content
            padding-top: 20px
            width: 50%
            margin: 0
            text-align: center
            margin-right: 3%
            .first_text
               align-self: center;
               line-height: 20px
            h1         
                align-self: center;
                font-size: 28px
                line-height: 34px
            span
                p
                    width: 80%
                    margin-left: 20px
                    color: black
                    font-size: 10px
    .seven_part
        display: none
    .eight_part
        min-height: 300px
        .eight_top_text
            margin-top: 20px
            .first_text
               line-height: 20px
            h1         
                align-self: center;
                font-size: 28px
                line-height: 20px
            .btn_group
                button
                   margin: 0
                   & ~ button
                    margin-left: 10px
    footer
        .container 
            .info_panel
                .right_info
                    width: 240px
                .left_info
                    font-size: 11px


@media (max-width: 375px) 
    header
        .container 
            max-width: 92%
            .top_text 
                width: 100%
                margin: 30px 0 0 0 
                h1
                    margin: 0
                    text-align: center
                    font-size: 2em
                .second_text
                    text-align: center 
                    width: 60%
        .main
            padding: 0
            margin-top: 36px
            .header_nav_open
                position: absolute
                left: 1%
            .header_nav_close
                position: absolute
                left: 1%
                
        .top_text
            .btn_group
                button
                    & ~ button
    .second_part
        .second_part_content
            width: 40%
            height: 100%
            right: 20px
            top: 0
            .first_text
                &::before
                    width: 0px
                &::after
                    width: 0px
            h1         
            .second_text
                text-align: center
                font-size: 8px;
                width: 100%
                margin-left: 1%
                line-height: 15px
            .btn_group
                button
                    bottom: 30px
                    left: -160px
                    width: 120px
                    height: 28px
                    font-size: 8px
                    padding: 0 0 0 0 

    .third_part
        height: 1420px
        margin: 0
        .third_part_content
            max-width: 96%
            text-align: center
            margin-left: 0
            padding: 0
            .third_text
                width: 80%
                text-align: center
    footer
        .container
            .main
                padding: 0 18px 0px 0px;

 




 
/*for tablet and mobile portrait */
@media only screen and (min-width: 600px) and (max-width: 1025px) and (orientation:portrait)
    header
        background-image: url('../img/background.png')
        min-height: 600px
        .container
            .top_text 
                    width: 90%
                    margin: 0 auto
                    .first_text
                        font-size: 14px
                    h1
                        font-size: 60px;
                        line-height: 72px;
                        text-align: center  
                        margin: 10px 0 20px 0
                    .second_text
                        font-size: 18px;
                        width: 96%  
                        line-height: 30px   
    .move_down
        display: none
    .second_part
        min-height: 400px  
        margin-top: 50px
        .second_part_content
            width: 42%
            right: 0
    .third_part
        .third_icons
            .icon_item
                max-width: 220px
                .icon_text_head
                    font-size: 16px;
                .icon_text
                    left: 60px
                    max-width: 180px
                    top: 20px 
    .five_part
        min-height: 400px
        justify-content: flex-end
        .five_part_content
            width: 45%
            margin: 0

@media only screen and (min-width: 660px) and (max-width: 760px) and (orientation:landscape)
    header
        padding-bottom: 40px
    .move_down
        display: none
    .second_part
        .second_part_content
            width: 40%
            height: 100%
            right: 20px
            top: 25px
            

         


