*
    box-sizing: border-box
body
    margin: 0
    padding: 0
    font-family: "Maven Pro", sans-serif 
.wrapper_head 
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background-image: url('../img/back.png')
    background-size: 100% 100%
    background-position: 0px 0px 50% 50%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
.container 
    width: 100%
    margin: 0 auto
    max-width: 1900px
.main
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 700px
    position: relative
    padding: 0 40px 40px 40px
    // border: 1px solid red
    color: #fff
    width: 100%
#up_arrow
    display: none
header
    display: flex
    justify-content: space-between
    align-items: center
    width: 98%
    // border: 1px solid lime
    position: relative
    margin-top: 48px
    .logo
        display: flex
        align-items: center
        position: relative
        #logo_name
            margin-left: 25px
    nav
        width: 47%   
        justify-content: space-between
        align-items: center
        // border: 1px solid yellow
        ul
            display: flex
            justify-content: space-between
            list-style: none
            li
                a
                    text-decoration: none
                    color: #ffffff
                    font-size: 20px
                    font-weight: 500
                    line-height: 19px
                    padding-bottom: 10px
                    border-bottom: 0px solid white
                    position: relative
                    &:not(.get_started_btn)::after
                        content: ''
                        width: 0%
                        height: 1px
                        background-color: #fff
                        display: inline-block
                        vertical-align: middle
                        position: absolute
                        top: 40px
                        left: -26px
                        margin-left: 20px
                        transition: all 0.3s
                    &:hover::after
                        width: 115%
                .get_started_btn
                    border: 1px solid white
                    padding: 10px 20px
                    border-radius: 100px
                    text-transform: uppercase
                    transition: all 0.5s linear
                    font-size: 14px
                    font-weight: 700
                    &:hover
                        background-color: #6e45e2
                        color: #fff
                    /*     box-shadow: 0 0 82px 5px rgba(123, 79, 219, 0.5)  */
.burger
    display: none
    width: 50px
    height: 50px
    position: absolute
    right: 40px
    top: 40px
    cursor: pointer
    .fa-bars
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
    .fa-bars_on
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times_off
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: block
    
    
.main_text_top
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    h1
        font-size: 70px
        margin: 0.5rem
        font-weight: 500
    span
        display: inline-block
        font-size: 16px
        font-weight: 700
        line-height: 32px
        text-transform: uppercase
        letter-spacing: 0.7px
        &::before
            content: ''
            width: 20px
            height: 1px
            background-color: #fff
            display: inline-block
            vertical-align: middle
            margin-right: 20px
        &::after
            content: ''
            width: 20px
            height: 1px
            background-color: #fff
            display: inline-block
            vertical-align: middle
            margin-left: 20px
    p
        font-size: 17px 
        font-weight: 400 
        line-height: 28px 
        width: 340px
.down_arrow
    height: 50px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background-color: #fff
    background-image: url(../img/arrow.png) 
    background-repeat: no-repeat
    background-position: center
    background-size: 14px 
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
    color: #000
    animation: bounce 1.8s infinite 
    &:hover
        background-color: #6e45e2
        background-image: url(../img/arrow_white.png) 
@keyframes bounce
    0% 
        transform: translateY(0)
    50% 
        transform: translateY(-20px)
    100% 
        transform: translateY(0px)
@keyframes menu_open
    0%
        width: 0%
    100%
        width: 100% 
@keyframes menu_close
    0%
        width: 100%
    100%
        width: 0% 
.wrapper_center 
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
.main_text_middle
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    margin-top: 120px  
    h1
        font-size: 55px
        margin: 0.5rem
        font-weight: 500
        color: #4f4f6f
    span
        display: inline-block
        font-size: 16px
        font-weight: 700
        line-height: 32px
        text-transform: uppercase
        letter-spacing: 0.7px
        color: #9fa4af
        &::before
            content: ''
            width: 20px
            height: 1px
            background-color: #6e45e2
            display: inline-block
            vertical-align: middle
            margin-right: 20px
        &::after
            content: ''
            width: 20px
            height: 1px
            background-color: #6e45e2
            display: inline-block
            vertical-align: middle
            margin-left: 20px
    p
        font-size: 17px
        font-weight: 400
        line-height: 28px
        width: 340px
        color: #9fa4af
.price_blocks
    display: flex
    justify-content: space-between
    align-items: stretch
    flex-wrap: wrap
    margin: 100px auto 0 auto
    width: 1420px
    padding-bottom: 120px
    .price_block
        flex-basis: 440px
        height: 648px
        text-align: center
        border: 1px solid #d7dbe8
        border-radius: 30px
        transition: all .5s
        &:hover
            box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71) 
            transform: scale(1.1)
        img
            width: 120px
            height: 108px
            margin-top: 59px
        .price_name
            color: #9fa4af
            font-size: 16px
            font-weight: 700
            line-height: 32px
            text-transform: uppercase
            letter-spacing: 0.7px
            margin-top: 50px
        .price_text
            color: #4f4f6f 
            font-weight: 500
            line-height: 62px
            font-size: 18px 
            letter-spacing: 0.5px
            margin-top: -14px
        .per_month
            color: #4f4f6f 
            font-size: 60px
            letter-spacing: 0.5px
            sup
                font-size: 18px
        .description
            margin-top: 48px
            width: 296px
            height: 127px
            margin: 0 auto
            line-height: 28px
        button
            background: #fff
            border: 1px solid  #9fa4af
            color: #9fa4af
            text-transform: uppercase
            font-size: 12px
            font-weight: 800
            padding: 17px 0px 21px 0px
            border-radius: 100px
            margin-top: 55px
            width: 190px
            height: 50px
            letter-spacing: 0.6px
            cursor: pointer
            transition: all 0.5s
            &:hover
                background-color: #6e45e2
                color: #ffffff
.wrapper_down 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-image: url('../img/BG.png')
    background-size: 100% 522px
    background-position: 0px 0px 50% 60%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
    height: 522px
    width: 100%
    .main_text_bottom   
        margin: 0 auto
        text-align: center
        span
            color: #ffffff 
            font-size: 16px 
            font-weight: 700 
            line-height: 32px 
            text-transform: uppercase 
            letter-spacing: 0.7px
        h1
            font-size: 55px
            margin: 15px 0 30px 0
            font-weight: 500
            color: #ffffff 
        button
            background: #fff
            border: 1px solid  #9fa4af
            color: #9fa4af
            text-transform: uppercase
            font-size: 12px
            font-weight: 800
            padding: 17px 0px 21px 0px
            border-radius: 100px
            margin-top: 15px
            margin-left: 15px
            width: 190px
            height: 50px
            letter-spacing: 0.6px
            cursor: pointer
            transition: all 0.5s
            &:hover
                background-color: #6e45e2
                color: #ffffff
                font-weight: 800
                border: 1px solid   #6e45e2
.footer
    display: flex
    justify-content: space-between
    align-items: center
    width: 95%
    position: relative
    margin-top: 48px
    color: #37374a
    margin: 0 auto
    padding: 40px 0 40px 0
    max-width: 1900px
    .logo
        display: flex
        align-items: center
        position: relative
        #logo_name_footer
            margin-left: 25px
            color: #37374a
    nav
        width: 46%   
        justify-content: space-between
        align-items: center
        ul
            display: flex
            justify-content: space-between
            list-style: none
            li
                a
                    text-decoration: none
                    color: #37374a
                    font-size: 20px
                    font-weight: 500
                    line-height: 19px
                    position: relative
                    &:not(.get_started_btn)::after
                        content: ''
                        width: 0%
                        height: 1px
                        background-color: #6e45e2
                        display: inline-block
                        vertical-align: middle
                        position: absolute
                        top: 40px
                        left: -26px
                        margin-left: 20px
                        transition: all 0.3s
                    &:hover::after
                        width: 115%
                .get_started_btn
                    border: 1px solid #37374a
                    padding: 10px 20px
                    border-radius: 100px
                    text-transform: uppercase
                    transition: all 0.2s linear
                    font-size: 14px
                    font-weight: 700
                    background-color: #6e45e2
                    color: white
                    &:hover
                        background-color: #9168f2
                        color: #fff
footer
    display: flex
    justify-content: space-between
    padding: 0 10px 26px 10px
    opacity: 0.5
    color: #6a6a77
    font-size: 16px
    font-weight: 500
    line-height: 19px
    max-width: 1758px 
    margin: 0 auto 
    .right_info
        width: 106px
        display: flex
        justify-content: space-between
        i
            cursor: pointer

/* Media queries */
@media (max-width: 1644px)
    .wrapper_head
        background-size: 100% 100% 
    .container 
        max-width: 1600px
    .footer 
        max-width: 1600px
        nav
            width: 55% 
    footer 
        max-width: 1470px
    header
        nav
            width: 55% 
    .main
        height: 610px

@media (max-width: 1440px)
    .wrapper_head
        background-size: 100% 100% 
    .container 
        max-width: 1400px
    footer 
        max-width: 1360px
    .footer 
        max-width: 1400px
        nav
            width: 72% 
    header
        nav
            width: 72% 
    .main
        height: 540px
    .price_blocks
        width: 1200px
        margin: 47px auto 0 auto
        .price_block
            flex-basis: 360px
    .main_text_middle
        margin-top: 60px

@media (max-width: 1280px)
    .wrapper_head
        background-size: 100% 100% 
    .container 
        max-width: 1200px
    footer 
        max-width: 1110px
    .footer 
        max-width: 1200px
        nav
            width: 72% 
    header
        nav
            width: 72% 
    .main
        height: 540px
    .price_blocks 
        width: 100%
        font-style: column
        padding-bottom: 50px
        .price_block
            flex-basis: 86% 
            justify-content: space-around 
            display: flex 
            flex-wrap: wrap 
            position: relative 
            margin: 0 auto
            height: 240px
            margin-bottom: 30px
            img
                margin-left: 70px 
                margin-top: 58px
                width: 110px 
                height: 110px 
                position: absolute
                left: 40px
                transform: translateY(50%)
                margin: 0
            .price_name
                position: absolute 
                left: 256px 
                top: 5px 
                color: #000
                transform: translateY(25%)
                left: 180px
            .description
                width: 520px
                left: 35px
                top: 90px 
                text-align: left
                position: absolute
                left: 180px
            .price_text
                right: 80px 
                top: 60px 
                position: absolute

            button
                right: 60px 
                top: 75px 
                position: absolute
    .main_text_middle
        margin-top: 50px
        
@media (max-width: 1180px) 
    .wrapper_head
        background-size: 100% 100% 
    header
        nav
            width: 100% 
            top: 67px 
            position: absolute 
            padding: 0
            background: linear-gradient(270deg, rgb(130, 170, 216), rgb(96, 70, 211)) 
            box-shadow: 0 0 40px rgba(0,0,0,0.5) 
            border-radius: 10px
            overflow: hidden
            
            
            ul
                display: flex 
                flex-direction: column
                align-items: center
                justify-content: space-between
                padding: 0
                margin: 0
                li
                    width: 100%
                    text-align: center
                    display: flex
                    align-items: center
                    justify-content: center
                    a
                        min-width: 100%
                        padding-top: 12px
                        padding-bottom: 15px
                        transition: background 5s
                        &:hover::after
                            width: 0
                        &:hover
                            color: black
                            background: linear-gradient(270deg, rgb(130, 170, 216),rgba(163, 151, 229, 0.6), rgb(96, 70, 211)) 
                    .get_started_btn
                        border: none
                        font-size: 18px
                        background-color: #4e38a5
                        border-bottom-left-radius: 10px  
                        border-bottom-right-radius: 10px 
                        border-top-left-radius: 0px 
                        border-top-right-radius: 0px 
    .footer
        nav
            display: none
    .burger
        display: block
    .price_blocks 
        width: 100%
    .header_nav_close
        animation: menu_close 0.5s
        opacity: 0
        transition-property: opacity 
        transition-delay: 0.5s
      
    .header_nav_open
        animation: menu_open 0.5s
        opacity: 1

            
@media (max-width: 1080px)    
    .main
        height: 482px                   
    .price_blocks 
        width: 100%
        display: block
        .price_block  
            width: 88%  
            margin: 30x auto
            img
                width: 80px 
                height:  80px 
                top: 29px
            .description
                width: 45% 
                top: 31% 
            .price_text
                width: 25%
                right: 5%
            .price_name
                margin-top: 4%
    footer
        max-width: 1000px 
    #up_arrow
        display: block 
        animation: pulse 1s infinite 
        
        img
            width: 50px
            height: 50px  
@media (max-width: 768px)  
    .main 
        height: 400px 
    .down_arrow
        display: none
    .price_blocks
        display: flex
        justify-content: space-between
        align-items: stretch
        flex-wrap: wrap
        width: 100%
        .price_block
            flex-basis: 85%
            height: 343px
            img
                width: 120px
                height: 108px
            .price_name
                margin-top: 50px
            .price_text
                top: 242px 
                right: 307px 
            .description
                margin-top: 48px
                width: 433px
                height: 127px
                margin: 0 auto
            button
                right: 55px 
                top: 55% 
    footer 
        max-width: 728px 
@media (max-width: 576px) 
    .main 
        height: 368px  
    .main_text_top
        span
            font-size: 14px 
        h1
            font-size: 56px 
    .header_nav_open
        ul
            li
                a
                    padding-top: 10px 
                    padding-bottom: 13px 
    .price_blocks
        .price_block
            height: 296px
            img
                width: 100px 
                height: 91px 
                top: -7px 
                left: 28px 
            .price_name
                left: 35px 
                top: 83px   
            .description
                left: 149px 
                top: 33px 
                width: 322px 
            button
                right: 27px 
                top: 50%    
            .price_text
                top: 205px 
                width: 176px 
                right: 260px 
    footer
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .right_info
            order: 1
            margin-bottom: 13px
        .left_info
            order: 2
@media (max-width: 425px) 
    #logo_name
        display: none
    .main 
        height: 330px 
    .main_text_top
        span
            display: none
        h1
            font-size: 45px
    .main_text_middle
        h1
            font-size: 45px
    .price_blocks
        .price_block
            height: 360px 
            img
                display: none
            .description
                left: 33px 
                top: 51px 
                width: 290px 
            .price_name
                left: 125px 
                top: -47px 
                font-size: 20px 
                text-align: center
            .price_text
                right: 72px 
            button
                right: 65px 
                top: 63% 
    .wrapper_down 
        .main_text_bottom
             h1 
                font-size: 46px 
    .left_info
        font-size: 12px 
        margin-top: 6px     
@media (max-width: 321px) 
    .main_text_middle 
        p 
            width: 307px 
        h1
            font-size: 40px 
    .main_text_top 
        p 
            width: 307px 
            font-size: 14px 
        h1 
            font-size: 42px 
    .wrapper_down
        .main_text_bottom 
            h1 
                font-size: 38px
    .price_blocks
        width: 100%
        .price_block
            width: 98%
            height: 420px 
            .description
                width: 217px 
            .price_name
                    left: 89px 
            .price_text
                    right: 37px 
                    top: 264px 
            button
                    right: 34px 
                    top: 69% 
    .footer 
        .logo 
            #logo_name_footer 
                margin-left: 18px 