*
    box-sizing: border-box
body
    margin: 0
    padding: 0
    font-family: "Maven Pro", sans-serif 
header
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 100vh
    background-image: url('../img/Background_home_header.png')
    background-size: 100% 100%
    background-position: 0px 0px 50% 50%
    background-repeat: no-repeat 
    background-attachment: scroll, fixed 
.container 
    width: 100%
    margin: 0 auto
    max-width: 1900px
    height: 100vh
.main
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    position: relative
    margin-top: 45px
    padding: 0 18px 40px 40px
    width: 98%
    .logo
        display: flex
        align-items: center
        position: relative
        margin: 5px 0 7px 18px
        .logo_name
            margin-left: 25px
    nav
        width: 46.5%   
        justify-content: space-between
        align-items: center
        margin-right: 2px
        margin-top: -2px
        ul
            display: flex
            justify-content: space-between
            list-style: none
            li
                a
                    text-decoration: none
                    color: #ffffff
                    font-size: 20px
                    font-weight: 500
                    line-height: 19px
                    padding-bottom: 10px
                    border-bottom: 0px solid white
                    position: relative
                    &:not(.get_started_btn)::after
                        content: ''
                        width: 0%
                        height: 1px
                        background-color: #fff
                        display: inline-block
                        vertical-align: middle
                        position: absolute
                        top: 40px
                        left: -26px
                        margin-left: 20px
                        transition: all 0.3s
                    &:hover::after
                        width: 115%
                .get_started_btn
                    border: 1px solid white
                    padding: 10px 20px 10px 20px
                    border-radius: 100px
                    text-transform: uppercase
                    transition: all 0.5s linear
                    font-size: 14px
                    font-weight: 700
                    &:hover
                        background-color: #6e45e2
                        color: #fff
.burger
    display: none
    width: 50px
    height: 50px
    position: absolute
    right: 40px
    top: 40px
    cursor: pointer
    .fa-bars
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
    .fa-bars_on
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: none
    .fa-times_off
        font-size: 35px
        color: #fff
        top: 8px
        position: absolute
        display: block
footer
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    .container 
        width: 100%
        margin: 0 auto
        max-width: 1900px
        height: auto
        .main
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            position: relative
            margin-top: 45px
            padding: 0 18px 40px 40px
            width: 98%
            .logo
                display: flex
                align-items: center
                position: relative
                margin: 5px 0 7px 18px;
                .logo_name
                    margin-left: 25px
            nav
                width: 46.5%   
                justify-content: space-between
                align-items: center
                margin-right: 2px
                margin-top: -2px
                ul
                    display: flex
                    justify-content: space-between
                    list-style: none
                    li
                        a
                            text-decoration: none
                            color: #37374a
                            font-size: 20px
                            font-weight: 500
                            line-height: 19px
                            position: relative
                            &:not(.get_started_btn)::after
                                content: ''
                                width: 0%
                                height: 1px
                                background-color: #6e45e2
                                display: inline-block
                                vertical-align: middle
                                position: absolute
                                top: 40px
                                left: -26px
                                margin-left: 20px
                                transition: all 0.3s
                            &:hover::after
                                width: 115%
                        .get_started_btn
                            border: 1px solid #6e45e2
                            padding: 10px 20px 10px 20px
                            border-radius: 100px
                            text-transform: uppercase
                            transition: all 0.5s linear
                            font-size: 14px
                            font-weight: 700
                            background-color: #6e45e2
                            color: white
                            &:hover
                                background-color: #2e08aa
                                color: white
        .info_panel
            display: flex
            justify-content: space-between
            opacity: 0.8
            color: #6a6a77
            width: 100%
            font-size: 16px
            font-weight: 500
            line-height: 19px
            max-width: 1722px 
            margin: 0 auto 
            padding-bottom:  20px 
            .right_info
                width: 106px
                display: flex
                justify-content: space-between
                i
                    cursor: pointer
#up_arrow_home
    display: none
    animation: pulse 1s infinite 
    img
        width: 50px
        height: 50px  
.container 
    border: 1px solid orange
/* Media queries */
@media (max-width: 1644px)
    .container 
        max-width: 1600px
@media (max-width: 1440px)
    .container 
        max-width: 1400px
@media (max-width: 1280px)
    .container 
        max-width: 1200px
@media (max-width: 1180px)
    .container 
        max-width: 1100px
@media (max-width: 1080px) 
    .container 
        max-width: 950px 
@media (max-width: 768px)
    .container 
        max-width: 700px 
@media (max-width: 576px) 
     .container 
        max-width: 100%
@media (max-width: 425px) 
    .container 
        max-width: 100%
@media (max-width: 321px) 
    .container 
        max-width: 100%